body{
  background-color: white;
}
.App{
  background-color: rgb(113, 73, 169);
  border-radius: 18px;
  min-height: 500px;
  width: 400px;
  margin: 50px auto;
}

h1 {
  padding: 20px;
  color: rgb(160, 154, 166);
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#to-do-form input{
  background-color: rgb(16, 40, 47);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 30px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

#to-do-form input::placeholder{
  color: rgba(255, 255, 255, 0.51);
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}


#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(69, 24, 202);
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

